#footer {

    #footer-element {
        @include media-breakpoint-up(lg) {
            padding: 120px 0;
            padding-bottom: 30px;
        }
    
        @include media-breakpoint-down(lg) {
            padding: 35px 0;
        }
    
        .container {
            @include media-breakpoint-up(lg) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .footer-item {
            @include media-breakpoint-down(md) {
                text-align: center;
            }

            .footer-title {
                font-weight: bold;
                font-size: 18px;
            }
        
            .footer-title,
            .footer-link a{
                text-decoration: none;
                color: white;
            }
        }
    }

    #policy {
        display: flex;
        justify-content: right;
        margin-top: 57px;

        a {
            color: white;
            margin-left: 10px;
            font-size: 13px;
        }
    }
}