// color scheme

$orange: #f98a00;
$green: #009933;
$red: #c40100;

$dark-grey: #555555;
$light-grey: #999999;

//fonts
@font-face {
    font-family: "Aleo";
    src: url("../Assets/Fonts/Aleo-Regular.woff") format("woff")
}
    
body {
    font-family: "Aleo";
    background-size: contain;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../Assets/images/black-background.jpg");
}

#content {
    @include media-breakpoint-up(lg) {
        > section {
            margin-top: 60px;
        }
    }

    @include media-breakpoint-down(lg) {
        > section {
            margin-top: 75px;
        }
    }

    @include media-breakpoint-down(sm) {
        > section {
            margin-top: 50px;
        }
    }
}

.btn-primary {
    background: $orange;
    border: $orange;
    padding: 10px 22px;
    font-weight: bold;

    &:hover {
        background: #ffb75e;
    }
}

.title {
    @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}
