#banner {
    background: url("../Assets/images/wooden-textured-background.jpg");
    color: white;
    margin-top: 0 !important;

    @include media-breakpoint-up(lg) {
        background-size: cover;
        padding: 180px 0;
        padding-bottom: 115px;
    }

    @include media-breakpoint-down(lg) {
        background-size: cover;
        padding: 60px 0;
    }

    #banner-title {
        text-align: center;
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: 0;

            h2 {
                font-size: 43px;
                font-weight: bold;
            }
        }

        a {
            @include media-breakpoint-up(lg) {
                margin-top: 44px;
                padding: 11px 32px;
            }
        }
    }
}