#banner {
    background: url("../Assets/images/wooden-textured-background.jpg");
    color: white;
    margin-top: 0 !important;

    @media(max-width: $screen-sm-min) {
        background-size: cover;
        padding: 60px 0;
    }

    #banner-title {
        text-align: center;
        margin-top: 20px;
    }
}