#offer-view {

    @media (max-width: $screen-sm-min) {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .container {

        #menu-dropdown {
            ul {
                display: flex;

                li {
                    color: white;
                    margin-right: 15px;

                    p {
                        margin-bottom: 0;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
        
        #offer-element {
            background-color: white;
            border-radius: 25px;
            padding: 50px;

            #image {
                @media (max-width:$screen-md-min) {
                    margin-bottom: 60px;
                }
            }

            #detail {
    
                @media(max-width: $screen-sm-min) {
                    padding-top: 20px;
                }

                .title-view,
                .subheader-view {
                    color: $dark-grey;
                }
    
                .price {
                    color: $red;
    
                    @media(min-width: $screen-lg-min) {
                        font-size: 45px;
                    } 
                    
                    @media(max-width: $screen-sm-min) {
                        font-size: 35px;
                    }
                }

                .tax {
                    font-style: italic;
                }
            }
            
            #weight {

                @media(min-width: $screen-lg-min) {
                    // align-self: flex-end;
                    // margin-bottom: 50px;
                }

                @media(max-width: $screen-sm-min) {
                    margin-top: 40px;
                }

                #status {
                    display: flex;
                    justify-content: right;
                    margin-top: 10px;
                    margin-bottom: 6em;

                    @media (max-width: $screen-md-min) {
                        margin-bottom: 35px;
                    }

                    .current-status {
                        margin-left: 10px;
                        padding: 3px 20px;
                        border-radius: 5px;
                        color: white;

                        p {
                            margin-bottom: 0;
                        }
                        
                        &.offer {
                            background: $red;
                        }

                        &.new {
                            background: $green;
                        }
                    }
                }

                .title-view {
                    font-size: 20px;
                    font-weight: bold;

                    @media(min-width: $screen-lg-min) {
                        text-align: right;
                    }

                    @media(max-width: $screen-md-min) {
                        text-align: center;
                    }
                }
    
                #weight-boxes {
                    display: flex;

                    @media(min-width: $screen-lg-min) {
                        justify-content: right;
                    }

                    @media(max-width: $screen-md-min) {
                        justify-content: center;
                        margin-bottom: 35px;
                    }

                    .weight-tab {
                        border: solid 1px $dark-grey;
                        border-radius: 5px;
                        padding: 10px 25px;
                        cursor: pointer;
                        margin-left: 10px;

        
                        p {
                            margin-bottom: 0;
                        }
                    }
    
                }
            }
    
            #need-more {

                @media (min-width: $screen-lg-min) {
                    align-self: flex-end;
                }

                #need-more-btn {
                    width: 130px;
                    display: flex;
                    background-color: #f3f3f3;
                    border: solid 1px $dark-grey;
                    border-radius: 5px;
                    margin-left: auto;

                    @media (max-width: $screen-md-min) {
                        margin: 0 auto;
                        margin-bottom: 35px;
                    }

                    p.counter {
                        margin: 0 auto;
                        color: $dark-grey;
                        align-self: center;
                    }
    
                    
                    .btn-more {
                        text-decoration: none;
                        cursor: pointer;
                        padding: 5px 15px;
                        background-color: $dark-grey;
                        color: white;
                        font-size: 20px;
                    }
                    
                }
    
            }
    
            #action-btn {

                @media (max-width: $screen-md-min) {
                    display: flex;
                    justify-content: center;
                }

                #add-to-cart,
                #compare {
                    p {
                        margin-bottom: 0;
                        margin-right: 15px;
                    }
    
                    @media (min-width: $screen-lg-min) {
                        display: flex;
                        justify-content: right;
                    }

                    @media (max-width: $screen-md-min) {
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                    }
                }
    
                .btn-action {
                    padding: 15px;
                    border-radius: 10px;
                    color: white;
    
                    i {
                        font-size: 20px;
                    }
                }
    
                #add-to-cart {
                    .btn-action {
                        background-color: $green;
                    }
    
                    @media (min-width: $screen-lg-min) {
                        margin-top: 10px;
                    }

                    @media (max-width: $screen-sm-min) {
                        margin-right: 10px;
                    }
                }
    
                #compare {
                    .btn-action {
                        background-color: $orange;
                    }
    
                    @media (max-width: $screen-sm-min) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}