#socials-element {
    background: radial-gradient(circle, rgba(249,163,0,1) 0%, rgba(255,117,0,1) 100%);
    color: white;
    margin-top: 0 !important;

    @include media-breakpoint-up(lg) {
        padding: 116px 0;
        padding-bottom: 77px;
    }

    @include media-breakpoint-down(lg) {
        padding: 60px 0;
    }

    #social-title {
        text-align: center;

        h2 {
            font-weight: bold;
        }
    }

    #social-icon {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        

        .icon {
            text-align: center;
            margin: 0 20px;
            color: white;
            text-decoration: none;
            
            @include media-breakpoint-down(sm) {
                margin: 0 10px;

                &:first-child,
                &:last-child {
                    margin: 0;
                }
            }

            &:hover {
                color: $dark-grey;
                transition: .3s ease-in-out;
            }

            i {
                font-size: 64px;

                @include media-breakpoint-down(sm) {
                    font-size: 33px;
                }
            }
        }

        .icon-title {
            margin-top: 15px;
        }
    }
}