#socials-element {
    background: radial-gradient(circle, rgba(249,163,0,1) 0%, rgba(255,117,0,1) 100%);
    color: white;

    #social-title {
        text-align: center;
    }

    #social-icon {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .icon {
            text-align: center;
            margin: 0 10px;
            color: white;
            text-decoration: none;

            &:hover {
                color: $dark-grey;
                transition: .3s ease-in-out;
            }

            i {
                font-size: 35px;
            }
        }

        .icon-title {
            margin-top: 5px;
        }
    }
}