#tab-element {
    @include media-breakpoint-up(lg) {
        margin-top: 20em !important;
    }

    
    .tab {
        text-align: center;
        color: white;
        padding-top: 47px;
        padding-bottom: 43px;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
            padding: 20px 0;
        }

        p {
            margin-bottom: 0;
            word-break: break-all;

            @include media-breakpoint-up(lg) {
                font-size: 30px;
            }
        }

        &.active {
            background: #f3f3f3;
            color: $dark-grey;
        }
    }

    #tab-element-detailed {
        background-color: #f3f3f3;

        .container {
            @include media-breakpoint-up(lg) {
                padding-left: 0;
                padding-right: 0;
            }

            .tab-detail {
                display: none;
                color: $dark-grey;
                padding-bottom: 48px;
        
                &.active {
                    display: flex;
                }
    
                #tab-detail-title {
                    p {
                        // font-size: 24px;
                        font-size: 30px;
                        margin-top: 57px;
                        font-weight: bold;
        
                        @include media-breakpoint-up(lg) {
                            margin-bottom: 40px;
                        }

                        @include media-breakpoint-down(lg) {
                            text-align: center;
                        }
                    }
        
                }
                #chart {
                    margin-bottom: 35px;
                    
                    ul {
                        margin-bottom: 0;
    
                        @include media-breakpoint-up(lg) {
                            padding-right: 40px;
                        }
    
                        .list-item {
                            border-bottom: solid 1px $dark-grey;
                            margin-top: 1rem;

                            p {
                                @include media-breakpoint-up(lg) {
                                    margin-bottom: 11px;
                                }
                            }
        
                            .value {
                                font-weight: bold;
                                float: right;
                            }
                        }
                    }
                }
        
                #read-more {
    
                    @include media-breakpoint-down(lg) {
                        display: flex;
                        justify-content: center;
                    }
                    
                    @include media-breakpoint-up(lg) {
                        margin-top: 70px;
                    }
    
                    .text-view {
    
                        @include media-breakpoint-up(lg) {
                            padding-left: 7em;
    
                        }
    
                        p {
                            font-size: 40px;

                            @include media-breakpoint-up(lg) {
                                font-size: 61px;
                                line-height: 1;
                                margin-bottom: 41px;
                            }
                        }
    
                        @include media-breakpoint-down(lg) {
                            text-align: center;
        
                            p {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}