#text-icon {
    p, h2 {
        color: white;
    }

    p {
        @media(max-width: $screen-sm-min) {
            margin-top: 20px;
        }
    }

    .text-view {
        text-align: center;

        @media(min-width: $screen-lg-min) {
            margin-bottom: 100px;
        }
    }

    .icon {
        margin-top: 20px;

        i {
            color: $orange;
            font-size: 70px;
            display: flex;
            justify-content: center;
        }

        p {
            font-size: 20px;
            text-align: center;
            margin-top: 10px;
        }
    }
}