#text-icon {
    @include media-breakpoint-up(lg) {
        margin-top: 140px !important;
    }

    .container {
        @include media-breakpoint-up(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    
        p, h2 {
            color: white;
        }
    
        h2 {
            font-weight: bold;
    
            @include media-breakpoint-up(lg) {
                font-size: 27px;
                margin-bottom: 25px;
            }
        }
    
        p {
            @include media-breakpoint-up(lg) {
                font-size: 19px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 20px;
            }
        }
    
        .text-view {
            text-align: center;
    
            @include media-breakpoint-up(lg) {
                margin-bottom: 100px;
            }
        }
    
        .icon {
            margin-top: 20px;
    
            i {
                color: $orange;
                font-size: 95px;
                display: flex;
                justify-content: center;
            }
    
            p {
                font-size: 20px;
                text-align: center;
                margin-top: 13px;
            }
        }
    }
}