#footer {
        
    @media (min-width: $screen-lg-min) {
        padding: 100px 0;
    }

    @media (max-width: $screen-md-min) {
        padding: 35px 0;
    }

    #footer-row-two {
        @media(max-width: $screen-sm-min) {
            margin: 15px 0;
        }
    }

    .footer-item {
        .footer-title {
            font-weight: bold;
        }
    
        .footer-title,
        .footer-link a{
            text-decoration: none;
            color: white;
        }
    }


}