// color scheme

$orange: #f98a00;
$green: #009933;
$red: #c40100;

$dark-grey: #555555;
$light-grey: #999999;


//breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//fonts

@font-face {
    font-family: "Merrieweather";
    src: url("../Assets/Fonts/Merriweather-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "Merrieweather Black";
    src: url("../Assets/Fonts/Merriweather-Black.ttf") format("ttf")
}

@font-face {
    font-family: "Merrieweather Bold";
    src: url("../Assets/Fonts/Merriweather-Bold.ttf") format("ttf")
}

@font-face {
    font-family: "Merrieweather Light";
    src: url("../Assets/Fonts/Merriweather-Light.ttf") format("ttf")
}
    
body {
    // font-family: "Merrieweather";
    background-color: $dark-grey;
}

#content {
    @media(max-width: $screen-sm-min) {
        > div {
            margin-top: 20px;
        }
    }
}
